.main-nav li {
    width: 100%;
    margin-bottom: 1em;
  }
  
  .main-nav a {
    display: block;
    background: #f67280;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
  }
  
  .main-nav .active,
  .main-nav a:hover {
    background-color: #355c7d;
  }