.ContainerHeader {
    background: linear-gradient(to right, #64ae11, #7bd515);
    /* background:  #64ae11; */
    color: #ffffff;
    /* padding: 40px; */
}

.TopHeader {
    font-weight: bold;
    font-size: 40px;
}

.TopHeaderRight {
    color: #ffffff;
    font-size: 25px;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: whitesmoke;
}

.logo-image {
    width: 3vw;
    height: 3vw;
}