.photo-container ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  
  .photo-container ul li {
    width: 220px;
    height: 165px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .photo-container ul img {
    width: 100%;
    transform: scale(1.25);
    transition: transform 1.25s;
  }
  
  .photo-container li:hover img {
    transform: scale(1.65);
  }
  
  .photo-container .not-found {
    width: 100%;
  }

  span{
   padding: 2px;
   font-size: 18px;
    
  }