  .product-item ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  
  .product-item ul li {
    width: 220px;
    height: 165px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .product-item ul img {
    width: 100%;
    transform: scale(1.25);
    transition: transform 1.25s;
  }

  .product-item-img {
    width: 220px;
    height: 165px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .product-item li:hover img {
    transform: scale(1.65);
  }

  span{
   padding: 2px;
   font-size: 18px;
    
  }